$red: rgba(255, 0, 0, 1);

h1 {
    color: $red
}
h2  {
    color: #00FF33;
    background-color: #FFCCFF;
    font-size: 100px;
}
.tussi {
    padding: 20px;
    background-color: pink;

    button {
        margin-left: 50px;
    }
}
.mega-counter {
    position: fixed;
    font-size: 100px;
    color: #00FF33;
    bottom: 0;
    background-color: #FFCCFF;

}
